@media (max-width: 450px) {
    #mobileView h5, h6, p{
        font-size: 10px !important;
    }
    .reminders {
        font-size: 10px !important;
    }
}

#mainContainerContents {
    height: 100vh;
    margin: 1rem auto;
    padding: 3rem;
    align-items: flex-start;
}

.reminders {
    align-items: flex-end;
    margin: 1rem;
    width: 100%;
    border-bottom: 1px solid rgb(209, 209, 209);
    font-size: 1.5rem;
    color: #6c757d;
}

.buttonCriar {
    margin: 1rem;
}

.mainCards {
    width: 16rem;
    height: auto;
    margin: 1rem;
    background-color: #afafaf80 !important;
    position: relative;
    box-shadow: 3px 10px 10px -1px rgba(0,0,0,0.75);
}

.mainCards p {
    font-size: 12px;
}

.checkboxDivDone {
    display: flex;
    align-items: center;
}

.addIsDone {
    border-bottom: 3px solid rgb(0, 255, 0);
    transition: all .2s;
}

#containerDateDone1 {
    border-bottom: 3px solid red;
    text-decoration:line-through;    
}

.labelCheckbox {
    font-size: small;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.checkboxHome {
    margin-left: 0.5rem;
}

.priorityCard {
    color: white;
    background-image: linear-gradient(
        to bottom, red, rgb(170, 0, 0)
    ) !important;
    transition: all .3s;
}

/* --- Modal --- */

#headerModal{
    background-color: black;
}

#closerButton {
    color: white;
}

#createModalLabel {
    color: white;
}

#formCreateModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

/* --- /Modal --- */