.titlePage {
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 1rem;
    width: 100%;
    border-bottom: 1px solid rgb(209, 209, 209);
    font-size: 1.5rem;
    color: #6c757d;
}

.formProfile {
    display: flex;
    align-items: center;
    margin: 2rem;
    padding: 1rem;

}

@media (max-width: 500px) {
    .formProfile{
        flex-direction: column;
        font-size: smaller;
    }
}